/*fonts*/
@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@200&display=swap");
/*Akhir fonts*/
.jumbotron {
  padding-top: 7rem;
}
.navx {
  font-size: 17px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  margin: 40px 6px 40px 20px;
  text-decoration: none;
}

.navx:hover {
  color: #0c0d0f;
}
.work-j {
  margin-top: 45px;
  margin-bottom: 0px;
}
.played {
  padding: 5px 5px 5px 5px;
}
.bottom-b {
  text-decoration: none;
}
.img {
  margin-top: 0px;
  margin-left: 40px;
  background-color: rgb(77, 86, 167);
}
.profile {
  margin-top: 60px;
  padding-left: 5px;
}
.savara {
  color: rgba(24, 26, 27, 0.87);
  font-size: 8vmin;
  font-family: Poppins;
}
.top {
  color: rgb(59, 59, 59);
  font-size: 8vmin;
  font-family: Poppins;
  margin-top: 9px;
}
.display-4 {
  font-family: Poppins;
  color: rgb(92, 92, 92);
  font-size: 60px;
}
.lead {
  font-family: Gluten;
  color: rgb(85, 85, 85);
}
.about-b {
  margin-top: 16px;
  font-size: 21px;
  color: #2c2c2c;
}

h2 {
  color: hsl(241, 58%, 45%);
}
.kccb {
  padding-top: 20px;
}
.title-bbbb {
  margin-top: 20px;
}
#about {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 115px;
  background-color: #e1e5ec;
}
.about {
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 9px;
}
#hobby {
  padding-top: 20px;
  background-color: #ccd2e0;
}
#contact {
  padding-top: 20px;
  background-color: #f1f3f5;
  padding-left: 20px;
  padding-right: 20px;
}
.contact-contact {
  border: solid 1px rgb(0, 132, 255);
  background-color: rgb(9, 137, 250);
  border-radius: 4px;
  margin-left: 9px;
  margin-top: 10px;
  color: white;
  height: 40px;
  width: 120px;
  box-shadow: 0px 1px 1px 0px rgb(119, 119, 119);
}
.about-about {
  border: solid 2px rgb(22, 78, 163);
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  margin-top: 10px;
  margin-left: 9px;
  color: rgb(105, 149, 236);
  height: 40px;
  width: 120px;
  box-shadow: 0px 1px 1px 0px rgb(119, 119, 119);
}
.contact-contact:hover {
  background-color: rgb(35, 86, 255);
}
.about-about:hover {
  background-color: rgb(105, 160, 226);
}
.lbl {
  margin-top: 10px;
  color: black;
}
.card-b {
  color: rgb(0, 81, 255);
}
.work {
  margin-top: 55px;
}
#work {
  margin-bottom: 225px;
}
.card-g {
  padding-top: 30px;
}
.ftr {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
footer {
  margin-top: 35px;
  background-color: rgb(31, 80, 185);
}
.ftr:hover {
  color: white;
  font-size: 13px;
}
.ftrt {
  font-size: 13px;
}
.image-n {
  margin-top: 10px;
}
.send {
  margin-top: 9px;
  background-color: rgb(0, 89, 255);
  color: #ffffff;
  height: 40px;
  width: 120px;
  border: solid 1px rgb(88, 131, 201);
  border-radius: 4px;
  box-shadow: 0px 1px 1px 0px rgb(77, 77, 77);
}
.send:hover {
  background-color: rgb(145, 181, 228);
}
.card {
  background-color: rgb(235, 235, 243);
}
.card:hover {
  background-color: rgb(137, 198, 252);
}
.pgc {
  font-family: Patua One;
}
.text-text {
  border: solid 1px;
  border-color: rgb(26, 26, 26);
}
.text-r {
  padding: 5px 10px 5px 10px;
}
